
<div class="wrapper">
  <div class="contents-title text-center py-3">
    <h1>everyone&apos;s aroma</h1>
  </div>

  <div class="row">
  <%= @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container">
        <%= link_to post,class: "card content-card border-dark mb-3", target: :_blank, rel: "noopener noreferrer" do %>
          <% if post.image? %>
            <%= image_tag post.image.url %>
          <% else %>
            <%= image_tag 'http://design-ec.com/d/e_others_48/l_e_others_484.png'%>
          <% end %>
            <div class="card-body text-dark text-card-body">
              <p class="card-text post-title"> <%= post.title %></p>
              <%= post.user.nickname.present? ? "投稿者 #{post.user.nickname}" : "会員No.#{post.user.id}" %>
               <p>(いいね<%= post.liked_users.count %>件)</p>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>